# Environment and logs
.env
Gemfile.lock
*.log

# Jekyll specific files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_config_dev.yml

# Bundle and vendor
vendor/
.bundle/

# OS files
.DS_Store
Thumbs.db

