{% assign current_year = site.time | date: '%Y' | plus: 0 %}
{% assign current_month = site.time | date: '%m' | plus: 0 %}
{% assign age_class_year_offset = 0 %}
{% if current_month >= 7 %}
    {% assign age_class_year_offset = 1 %}
{% endif %}
<table>
    <thead>
        <tr>
            <th>Deutschland</th>
            <th>Sachsen</th>
            <th>Bezirk Dresden</th>
            <th>Stadt Dresden</th>
        </tr>
    </thead>
    <tbody>
        <!--  generiert mit Liquid Loop -->
        {% for group in site.data.altersklassen %}
        {% assign born_label = "" %}
        {% if group.name == "Senioren" %}
            {% assign born_until = current_year | minus: group.age_from | plus: age_class_year_offset %}
            {% assign born_label = "geboren bis " | append: born_until %}
        {% elsif group.name == "U10" %}
            {% assign born_from = current_year | minus: group.age_to | plus: age_class_year_offset %}
            {% assign born_label = "Jg " | append: born_from | append: "+" %}
        {% elsif group.name != "Gesamt" %}
            {% assign born_from = current_year | minus: group.age_to | plus: age_class_year_offset %}
            {% assign born_to = current_year | minus: group.age_from | plus: age_class_year_offset %}
            {% assign born_to_short = born_to | modulo: 100 %}
            {% capture born_label %}geboren {{ born_from }}-{% if born_to_short < 10 %}0{% endif %}{{ born_to_short }}{% endcapture %}
        {% endif %}
        <tr>
            {% for region in site.data.regionen %}
            <td>
                <u>{{ born_label | strip }}</u>
                <div style="margin-top: auto;">
                    <span class="{{ region.flag }}"></span>
                    <a href="https://www.schachbund.de/dwz-verbaende/{{ region.code }}.html?toplist=100&sex=&age_from={{ group.age_from }}&age_to={{ group.age_to }}"
                        target="_blank"> <b>{{ group.name }}</b> </a>
                    {%- if group.name != "Gesamt" and group.name != "Senioren" -%}
                    -
                    <a href="https://www.schachbund.de/dwz-verbaende/{{ region.code }}.html?toplist=100&sex=f&age_from={{ group.age_from }}&age_to={{ group.age_to }}"
                        target="_blank"> <b>{{ group.name }}w</b> </a>
                    {%- endif -%}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>